<div class="container-fluid p-0 landing-wrapper">
  <!-- Background image -->
  <img
    src="/public/images/AIHoboken.png"
    alt="Scooters"
    class="img-fluid landing-img"
  />

  <!-- Centered content -->
  <div
    class="d-flex flex-column align-items-center justify-content-center text-center mt-4"
    style="min-height: 35vh;"
  >
    <h1 class="mb-4 display-5 fw-semibold">Efficient Motion Around Hoboken</h1>

    <div class="d-flex gap-5 mt-5" style="margin-top: 100px;">
      <!-- Start Riding button -->
      <div class="d-flex align-items-center">
        <a
          href="/vehicleListings/vehicleListings"
          class="btn btn-primary btn-lg"
        >Start Riding</a>
      </div>
    </div>

  </div>
</div>