{{#if error}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div class="container">
  <h1>Login</h1>
  <form id="signin-form" action="/auth/login" method="POST">
    {{! error arry }}
    <ul id="login-error-model" class="text-danger"></ul>
    {{! userId }}
    <div class="form-group">
      <label for="userId">UserId:</label>
      <input type="text" id="userId" name="userId" required />
    </div>
    {{! Password }}
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button id="submit_button" type="submit">Login</button>
    <a href="/auth/register">Click here to signup!</a>

  </form>
</div>