{{!  scripts and styles for datetimepicker }}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"
></script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"
/>

{{#if error}}
  <p class="text-danger">{{error}}</p>
{{/if}}

{{! <p id="hiddenP" hidden>test2</p> }}

<form
  action="/vehicleListings/requestVehicle"
  method="POST"
  id="requestVehicleForm"
>
  <ul id="login-error-model" class="text-danger"></ul>

  <div class="form-group">
    <label class="label_color" for="input1">Start Date and Time</label>
    <div
      class="input-group date"
      data-provide="datepicker"
      id="datetimepicker1"
    >
      <input type="text" class="form-control" name="startDate" id="input1" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="label_color" for="input2">End Date and Time</label>
    <div
      class="input-group date"
      data-provide="datepicker"
      id="datetimepicker2"
    >
      <input type="text" class="form-control" name="endDate" id="input2" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="label_color" for="extraComments">Extra Comments</label>
    <input
      type="text"
      name="extraComments"
      id="extraComments"
      class="form-control"
      value="{{data.extraComments}}"
    />
  </div>

  <button type="submit" name="submitButton" id="submitButton">Request Vehicle</button>

</form>