{{!--

registration handelbars

--}}
 <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"
    ></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
{{#if error}}
<p>{{error}}</p>
{{/if}}

<p id="hiddenP" hidden>test2</p>

<form action="/vehicleListings/requestVehicle" method="POST" id="requestVehicleForm">
    {{!-- Error Array --}}
    <ul id="login-error-model" class="text-danger"></ul>


<div class="container">
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <div class='input-group date' data-provide="datepicker" id='datetimepicker1'>
          <label for="input1">Start date and time</label>
          <input type='text' class="form-control" id="input1"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <div class='input-group date' data-provide="datepicker" id='datetimepicker2'>
        <label for="input2">End date and time</label>
          <input type='text' class="form-control" id="input2"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



    <label for="extraComments">Extra Comments</label>
    <input type="text" name="extraComments" id="extraComments" value="{{data.extraComments}}">


    <button type="submit" name="submitButton" id="submitButton">Request Vehicle</button>
</form>